.timeText{
    font-weight: bolder;
}

.icon {
  margin-right: 0.5rem;
  color: #b5b4b4;
}

#graph{
    width: 32%;
  }

  @media screen and (max-width: 1240px){
    #graph{
        width: 33%;
    }
  }

  @media screen and (max-width: 1145px){
    #graph{
        width: 70%;
    }
  }