 .container{
    text-align: right;
} 

.container, .first, .second{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center; 
}


.first div, .second div{
    padding: 4rem;
}

.container label{
    font-size: xx-large;
    font-weight: bold;
    color:rgba(160, 160, 160, 0.993);
}

h4{
    margin-bottom: 0;
    color: var(--main-color);
}

