.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  position: relative;
  display: flex;
  margin: 1rem;
  flex-direction: row-reverse;
}

.search input,
.search button {
  font: inherit;
  padding: 0.25rem 0.75rem;
  text-align: right;
  border-radius: 20px;
  border: 1px solid #dadada;
  margin: 0.5rem;
}

.search input {
  direction: rtl;
  width: 15rem;
}

.search button {
  position: absolute;
  cursor: pointer;
  left: -5rem;
}

.search input:focus,
.search button:hover {
  outline: none;
  border-color: var(--main-color);
  box-shadow: 0 0 6px var(--main-color);
}

.resultes {
  display: flex;
  flex-direction: column;
}

.dropdown {
  min-width: 0;
  border: 1px solid #b3b3b3;
  background-color: #fff;
  visibility: hidden;
  z-index: 10;
  &.v {
    visibility: visible;
  }
}

.dropdownItem {
  padding: 4px;
  text-align: right;
  cursor: pointer;
  right:  0;
  border-bottom: 1px solid #b3b3b36b;
  &:hover {
    background-color: #f1f1f1d7;
  }
}

.item {
  color: #090a3c;
}

ul {
  overflow-y: hidden;
  max-height: 9.4rem;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-right: 0.25rem;
  background-color: #fbfbfb;
  border-radius: 20px;
}
