.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search {
  position: relative;
  display: flex;
  margin: 1rem;
  flex-direction: row-reverse;
}

.search input {
  font: inherit;
  padding: 0.25rem 0.75rem;
  text-align: right;
  border-radius: 20px;
  border: 1px solid #dadada;
  margin: 0.5rem;
}

.search input {
  direction: rtl;
  width: 15rem;
}

.search input:focus{
  outline: none;
  border-color: var(--main-color);
  box-shadow: 0 0 6px var(--main-color);
}

.resultes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultes div{
  top: 2.75rem;
  position: absolute;
  z-index: 1000;
  width: 16rem;
}

.dropdownItem {
  padding: 4px;
  text-align: right;
  cursor: pointer;
  right:  0;
  border-bottom: 1px solid #b3b3b36b;
  &:hover {
    background-color: #f1f1f1d7;
  }
}

.ulCities{
  overflow-y: hidden;
  max-height: 9.4rem;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-right: 0.25rem;
  background-color: #fbfbfb;
}